@media (max-width: 1700px) {
    #controls {
        flex-direction: column;
    }
}

@media (max-width: 1500px) {
    #controls {
        display: block;
    }
    .pagination {
        padding-top: 10px; 
    }
}

@media (max-width: 730px) {
    .tabs {
        flex-direction: column;
    }
    .statsGrid {
        display: block!important;
    }
    .strengthsWeaknessesContainer {
        display: block!important;
    }
}

@media (max-width: 450px) {
    .modalNavigation {
        display: grid;
        grid-template-areas: 
            "title title"
            "leftArrow rightArrow";
        justify-items: center;
    }

    #modalTitle {
        grid-area: title;
    }

    .leftArrow {
        grid-area: leftArrow;
    }

    .rightArrow {
        grid-area: rightArrow;
    }

    .navArrow {
        position: static;
        margin: 5px;
    }
}

@media (max-width: 390px) {
    .mainContainer {
        width: 100vw!important;
    }
}

@media (max-width: 925px) {
    .burger-menu {
        display: flex;
    }
    .mainContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background: white;
        z-index: 999;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 60px 20px 20px;
        overflow-y: auto;
    }
    .menu-toggle:checked ~ .mainContainer {
        transform: translateX(0);
    }
    .leftColumn{
        position: fixed;
        top: 75px;
    }
    .menu-toggle:checked ~ .burger-menu span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .menu-toggle:checked ~ .burger-menu span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle:checked ~ .burger-menu span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .pagination {
        display: block;
        justify-items: center;
    }
    .rightColumn {
        position: fixed;
        max-width: 100%!important;
        bottom: 20px!important;        
    }
    #typeFilterContainer {
        bottom: 0px!important;
    }
    .flexDirection {
        flex-direction: column!important;
    }
    .generationButtons {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 926px) {
    .mainContainer {
        transform: none !important;
    }
    .burger-menu {
        display: none !important;
    }
    .menu-toggle {
        display: none !important;
    }
}