.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.tabButton {
    padding: 12px 30px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    opacity: 0.7;
    transition: all 0.3s;
    margin: 0 10px;
}
.tabButton.active {
    opacity: 1;
    font-weight: bold;
}
.tabButton.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 4px;
    background: white;
}
.tabButton:hover {
    opacity: 1;
}
.tabContent {
    display: none;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    margin-top: 15px;
}
.tabContent.active {
    display: block;
}
.statsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.statsColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.statsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}
#statsBars {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.physicalDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.statBarContainer {
    margin-bottom: 12px;
}
.statBarLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 1.3rem;
}
.statBar {
    height: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    overflow: hidden;
}
.statBarFill {
    height: 100%;
    background: white;
    border-radius: 8px;
    transition: width 0.5s ease;
}
.strengthsWeaknessesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.strengthsSection, .weaknessesSection, .immunitiesSection {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
}
.strengthsSection h3, .weaknessesSection h3, .immunitiesSection h3 {
    margin-bottom: 10px;
    text-align: center;
}
.detailItem {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 1.3rem;
    flex: 1;
    font-size: 1.3rem;
}
.detailLabel {
    font-weight: bold;
}
.detailValue {
    font-weight: normal;
}
.abilitiesDetailsContainer {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.abilityItem {
    margin-bottom: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
.abilityHidden {
    color: #ffcc00;
    font-style: italic;
}
.abilityName {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.abilityDescription {
    font-size: 1.1rem;
    line-height: 1.4;
}